$blog-text: Georgian;

.create-button {
  margin-bottom: 20px;
}

.blog_post {
  padding-bottom: 40px;

  .basics {
    font-size: 20px;
    padding-top: 20px;
    font-family: $blog-text;
  }

  .post_content {
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    font-family: $blog-text;
  }
}

.posts {
  .card {
    text-align: center;

    img {
      margin-top: 10px;
      width: 93%;
    }

    .card-body {
      padding-left: 10px;
      padding-right: 10px;
      text-align: justify;
    }
  }
}

.my-icon {
  img {
    width: 30px;
    margin-top: -8px;
  }
}

.search {
  float: right;
}
